body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

p {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

button {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    width: 324px;
    margin: 0 auto;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17px 79px;
}

.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.logo:hover {
    color: #3CB878;
    transition: ease-in-out 0.2s, transform 0.4s;
}

.header-menu {
    display: flex;
    gap: 23px;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 26px;
}

svg:hover > path, g {
    fill: #3CB878;
    transition: ease-in-out 0.3s, transform 0.5s;
}

.line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header-authorization {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.log-in:hover, .sign-up:hover {
    color: #3CB878;
    transition: ease-in-out 0.3s, transform 0.5s;
}

.form {
    position: absolute;
    top: 20%;
    left: 38.5%;
    margin: 0px auto;
    width: 444px;
    background-color: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 60px 0px 42px;
}

.form-topics {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.cube {
    float: left;
    position: relative;
    top: 30px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.form-log-in {
    color: #3CB878;
}

.form-log-in:hover {
    color: #01813F;
    text-decoration: underline;
    transition: ease-in-out 0.3s, transform 0.5s;
}

.button-authorization {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    width: 1px;
    height: 28px;
    background: rgba(10, 22, 47, 0.1);
}

.facebook {
    background-color: #305DB8;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 5px;
    gap: 15px;
    padding: 10px 20px 10px 11px;
}

.facebook:hover {
    background-color: #022263;
    transition: ease-in-out 0.5s, transform 0.5s;
}

.google {
    background-color: #DF4A32;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 5px;
    gap: 15px;
    padding: 10px 27px 10px 12px;
}

.google:hover {
    background-color: #AB1F09;
    transition: ease-in-out 0.5s, transform 0.5s;
}

.form-or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 30px 0px;
    gap: 4px;
}

.line-body {
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.text-body {
    color: #848484;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 14px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
    color: #434343;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.custom-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
  }

.custom-checkbox img {
    display: none;
    width: 100%;
    height: 100%;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + img {
    display: block;
}

.checkbox-text {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
}

.terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
    transition: ease-in-out 0.3s, transform 0.5s;
}

.button-submit {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0px 40px 0px;
}

.button-submit:hover {
    background-color: #01813F;
    color: white;
    transition: ease-in-out 0.3s, transform 0.5s;
}